<div class="container">
    <div class="heading-container">
        <div>
            <h1>MEAN Test</h1>
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="openAddUser(null)">Add User</button>
        </div>
    </div>
    <div class="content">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource">
            <ng-container matColumnDef="first_name">
                <mat-header-cell *matHeaderCellDef> First Name</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.first_name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="last_name">
                <mat-header-cell *matHeaderCellDef>Last Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.last_name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button class="btn-secondary mr-2" (click)="openUserDetails(element._id)"><span
                            class="material-icons" matTooltip="View">
                            visibility
                        </span></button>
                    <button mat-icon-button class="btn-primary" (click)="openAddUser(element._id)"><span
                            class="material-icons" matTooltip="Edit">
                            edit
                        </span></button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div *ngIf="!dataSource">
            <h1 class="text-secondary text-center">Records not found! Please add users</h1>
        </div>
    </div>
</div>